<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Brand</h1>
    <div class="col-10 offset-1">
            <form action="/brands" method="post" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="company">Parent Company</label>
                <select class="form-control" required type="text" id="company" name="brand[company]" required>
                 <option value="">Select a Parent Company:</option>
                 <% for(let company of companies) {%>
                    <option value="<%=company._id %>"><%=company.name %></option>
                    <% } %>
                </select>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please submit a name</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="name">Name</label>
                <input class="form-control" required type="text" id="name" name="brand[name]" required>
                <div class="valid-feedback">Looks good!</div>
                <div class="invalid-feedback">Please submit a name</div>
            </div>
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="image" name="image">
                <label class="input-group-text" for="image">Upload Logo</label>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Brand</button>
            </div>
            <a class="returnLink" href="/brands">All Brands</a>
        </form>
    </div>
</div>